### Задание

1. Обучить модель на понравившихся данных
2. Создать rest api сервис, к которому можно будет обращаться для получения прогнозов

### Примерные темы

1. Определение токсичности комментария
2. Определение стоимости жилья от разных факторов: площадь жилья, удаленность от центра, etc (здесь же куча идей прогнозирования стоимости чего-либо по его описанию)
3. Темы новости по ее тексту
4. Классификатор рукописных цифр
5. Классификатор картинок (например, определение города и страны по снимку улицы)
6. Определение вероятности наличия сердечно-сосудистых заболеваний по данным первичного осмотра (или что-то подобное)
7. Многое другое (придумайте сами)
8. Прогнозирование рейтинга вопроса на stackoverflow - https://www.kaggle.com/imoore/60k-stack-overflow-questions-with-quality-rate
9. https://www.kaggle.com/russellyates88/suicide-rates-overview-1985-to-2016
10. Тематическое моделирование статей на arxiv - https://www.kaggle.com/Cornell-University/arxiv

### Откуда брать данные

1. kaggle (https://www.kaggle.com/datasets)
2. спарсить самостоятельно, но в этом случае вам может понадобиться разметка (если у вас обучение с учителем)

In [40]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [42]:
class Config:
    root_dir = "../datasets/kaggle_datasets/MaliciousServerHack/"
    seed = 21

In [43]:
train_df = pd.read_csv(f"{Config.root_dir}Train.csv")
test_df = pd.read_csv(f"{Config.root_dir}Test.csv")
target = train_df.columns[-1]

In [48]:
train_df.head(3)

,INCIDENT_ID,DATE,X_1,X_2,X_3,X_4,X_5,X_6,X_7,X_8,X_9,X_10,X_11,X_12,X_13,X_14,X_15,MALICIOUS_OFFENSE
0,CR_102659,04-JUL-04,0,36,34,2,1,5,6,1,6,1,174,1.0,92,29,36,0
1,CR_189752,18-JUL-17,1,37,37,0,0,11,17,1,6,1,236,1.0,103,142,34,1
2,CR_184637,15-MAR-17,0,3,2,3,5,1,0,2,3,1,174,1.0,110,93,34,1

In [47]:
test_df.head(3)

,INCIDENT_ID,DATE,X_1,X_2,X_3,X_4,X_5,X_6,X_7,X_8,X_9,X_10,X_11,X_12,X_13,X_14,X_15
0,CR_195453,01-FEB-18,0,30,35,7,3,6,4,0,5,1,174,NaN,72,119,23
1,CR_103520,05-MAR-04,0,44,44,1,3,7,1,4,6,1,316,0.0,12,29,34
2,CR_196089,27-JAN-18,0,34,33,3,5,2,7,3,0,1,316,1.0,72,0,34

In [56]:
target

'MALICIOUS_OFFENSE'

In [57]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23856 entries, 0 to 23855
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   INCIDENT_ID        23856 non-null  object
 1   DATE               23856 non-null  object
 2   X_1                23856 non-null  int64
 3   X_2                23856 non-null  int64
 4   X_3                23856 non-null  int64
 5   X_4                23856 non-null  int64
 6   X_5                23856 non-null  int64
 7   X_6                23856 non-null  int64
 8   X_7                23856 non-null  int64
 9   X_8                23856 non-null  int64
 10  X_9                23856 non-null  int64
 11  X_10               23856 non-null  int64
 12  X_11               23856 non-null  int64
 13  X_12               23674 non-null  float64
 14  X_13               23856 non-null  int64
 15  X_14               23856 non-null  int64
 16  X_15               23856 non-null  int64
 17  MALICIOUS_OFFENSE  23856 non-null  int64
dtypes: float64(1), int64(15), object(2)
memory usage: 3.3+ MB